/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Jost", "sans-serif";
  --font-secondary: "Lobster", "sans-serif";
}

@layer {
  .main-container {
    @apply container max-w-screen-xl mx-auto;
  }
  .nav-link {
    @apply text-lg font-bold duration-300 transition;
  }
  .nav-link:hover {
    @apply text-yellow-500;
  }
  section {
    @apply py-20 sm:py-28;
  }
  .btn {
    @apply border border-yellow-500 bg-yellow-500 px-4 py-2 rounded-md duration-300 transition cursor-pointer;
  }
  .btn-outline {
    @apply bg-transparent;
  }
  .btn:hover {
    @apply opacity-90;
  }
  .btn-outline:hover {
    @apply bg-yellow-500 opacity-90;
  }
  @keyframes moving {
    50% {
      transform: translateY("-1rem");
    }
  }
  .animate-moving {
    animation: moving 5s linear infinite;
  }
}
